@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Book Store</h1>
    <hr />
    <p>
        Use link in navbar to go to <b>Books</b>, <b>Users</b> or <b>Checkouts</b> pages.
    </p>

    <br />
    <h3>hosted on AWS</h3>
</div>
